images/chuck.pas
images/levels.vasm
images/sprites.vasm
src/game.bin
*.o
src/map.txt
toolchain
*.bak
*.hex
images/*.vasm
sound/*.vasm
z80.bin
src/font.vasm
src/sound.vasm
*.bin
src/map*.txt
src/history
mapedit/build-mapedit*
